

{% load static %}

<!DOCTYPE html>
    <html lang="en">

      <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="details about posts">
        <meta name="author" content="Sarah Jin, Mark Penrod, Maddie Zug">

        <title>Post Details</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'announcements/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'announcements/css/post_info.css' %}" rel="stylesheet">
        <link href="{% static 'announcements/css/styles.css' %}" rel="stylesheet">

      </head>

      <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-chirp">
          <div class="container">
            <a class="navbar-brand navbar-text" href="{% url 'index' %}">Chirps!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0" method="post">
                  {% csrf_token %}
                  <input class="form-control mr-sm-2" type="text" name = "search_key" placeholder="Search..." required>
                  <input class="btn btn-outline-success my-2 my-sm-0" name = "search" value = "Search" type="submit">
                </form>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'logout'%}">Log Out</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Page Content -->
        <div class="container">

          <div class="row">


          <div class="container-fluid">
          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">
                      <span data-feather="home"></span>
                      Home <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  {% if user.admin_status %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'pending' %}">
                        <span data-feather="pending"></span>
                         Pending Posts
                      </a>
                    </li>
                    

                   {% else %}
                     <li class="nav-item">
                       <a class="nav-link" href="{% url 'my_chirps' %}">
                         <span data-feather="my_chirps"></span>
                         My Chirps
                       </a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="{% url 'saved' %}">
                         <span data-feather="saved_chirps"></span>
                         Saved Chirps
                       </a>
                     </li>
                  {% endif %}
              </div>
            </nav>

            <!-- Post Content Column -->
            <div class="col-md-7 main-wrapper" style="word-wrap:break-word">

              <form method="post"/>
              <!-- Title -->
              <h1 class="mt-4">{{ announcement.announce_title }}
              {% if announcement.approve_status and not user.admin_status %}
                {% if already_saved %}
                  <input type="submit" class="btn btn-md btn-outline-primary float-right" value="Unsave" name="unsave"/>
                {% else %}
                  <input type="submit" class="btn btn-md btn-outline-primary float-right" value="Save" name="save"/>
                {% endif %}
              {% endif %}
              </h1>

              <!-- Author -->
              <p class="lead">
                by {{ announcement.submitter.first }} {{ announcement.submitter.last }}
              </p>

              <hr>

              <!-- Preview Image -->
              {% if announcement.announce_img %}
                <img class="rounded mx-auto d-block" src="{{ announcement.announce_img }}" alt="" height="275">
                <hr>
              {% endif %}

              <!-- Post Content -->
              <p class="lead">{{ announcement.announce_text }}</p>

              <hr>
                <!-- Date/Time -->
                <p>Posted on {{ announcement.submit_date }}
                  {% if user.admin_status or user == announcement.submitter %}
                      {% if announcement.approve_status%}
                        <span class="approved">Approved </span>
                      {% else %}
                        <span class="pending">Pending </span>
                      {% endif %}
                   {%endif%}

                  {% if user.admin_status and not announcement.approve_status %}
                    <input type="submit" class="btn btn-sm btn-outline-success float-right" value="Approve" name ="approve"/>
                  {% endif %}
                  {% if user.admin_status or user == announcement.submitter %}
                    <input type="submit" class="btn btn-sm btn-outline-danger float-right" style="margin-right:5px" value="Delete" name="delete"/>
                  {% endif %}
                  {% if user == announcement.submitter %}
                    <a href = "{% url 'edit' announcement.announce_ID %}" class="btn btn-sm btn-outline-success float-right">Edit  </a>
                  {% endif %}

                  {{ worked }}
                  {{saved_announcement}}
                  {% csrf_token %}
                </p>

              <hr>

            </div>

            <div class="col-md-3" style="word-wrap:break-word">

              <!-- Categories Widget -->
              <div class="card my-4">
                <h5 class="card-header">Tags</h5>
                <div class="card-body">
                  <div class="row">
                        {% if announce_tags %}
                          {% if num_tags > 0 %}
                            <ul class="list-unstyled mb-0">
                            {% for tag in announce_tags %}
                              <li>
                                <a href="http://127.0.0.1:8000/announcements/search/{{ tag }}">{{ tag }}</a>
                              </li>
                            {% endfor %}
                            </ul>
                          {% else %}
                            <p> No tags on this post </p> <br>
                          {% endif %}
                        {% else %}
                            <p> No tags on this post </p> <br>
                        {% endif %}
                  </div>
                </div>
              </div>

            </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    </div>

        <!-- Bootstrap core JavaScript -->
        <!-- <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

      </body>

    </html>
