

{% load static %}




<!DOCTYPE html>
    <html lang="en">

      <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Post Details</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'announcements/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'announcements/css/post_info.css' %}" rel="stylesheet">
        <link href="{% static 'announcements/css/styles.css' %}" rel="stylesheet">

      </head>

      <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-chirp">
          <div class="container">
            <a class="navbar-brand navbar-text" href="#">Chirps!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Settings
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log Out</a>
                </li>
              </ul>
            </div>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
        </nav>

        <!-- Page Content -->
        <div class="container">

          <div class="row">


          <div class="container-fluid">
          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">
                      <span data-feather="home"></span>
                      Home <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="mychirps"></span>
                      My Chirps
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="savedchirps"></span>
                      Saved Chirps
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="favtags"></span>
                      Favorite Tags
                    </a>
                  </li>
              </div>
            </nav>

            <!-- Post Content Column -->
            <div class="col-md-6 main-wrapper">

              <!-- Title -->
              <h1 class="mt-4">{{ announcement.announce_title }}</h1>

              <!-- Author -->
              <p class="lead">
                by {{ announcement.submitter.first }} {{ announcement.submitter.last }}
              </p>

              <hr>

              <!-- Date/Time -->
              <p>Posted on {{ announcement.submit_date }}</p>

              <hr>

              <!-- Preview Image -->
              <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

              <hr>

              <!-- Post Content -->
              <p class="lead">{{ announcement.announce_text }}</p>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

              <!-- Search Widget -->
              <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>

              <!-- Categories Widget -->
              <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <ul class="list-unstyled mb-0">
                        <li>
                          <a href="#">Web Design</a>
                        </li>
                        <li>
                          <a href="#">HTML</a>
                        </li>
                        <li>
                          <a href="#">Freebies</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6">
                      <ul class="list-unstyled mb-0">
                        <li>
                          <a href="#">JavaScript</a>
                        </li>
                        <li>
                          <a href="#">CSS</a>
                        </li>
                        <li>
                          <a href="#">Tutorials</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Side Widget -->
              <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                  You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
              </div>

            </div>

          </div>
          <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    </div>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      </body>

    </html>

    <b>Approval status:</b>
      {% if announcement.approve_status%}
        <li>Approved</li> <br>
      {% else %}
          <li>Not approved</li> <br>
      {% endif %}


    <form method="post"/>
      <input type="submit" value="Approve" name = "approve"/>
      <input type="submit" value="Deny" name="deny"/>
      <input type="submit" value="Delete" name="delete"/>
      <input type="submit" value="Save" name="save"/>
      <input type="submit" value="Unsave" name="unsave"/><br>
      {{ worked }}
      {{saved_announcement}}
      {% csrf_token %}
    </form>

    <h3> Tags: </h3> <br>
      {% if announce_tags %}
        {% if num_tags > 0 %}
          {% for tag in announce_tags %}
            - {{ tag }} {{ tag.is_approved }} <br>
          {% endfor %}
        {% else %}
          <p> No tags on this post </p> <br>
        {% endif %}
      {% endif %}

      <form action = "http://127.0.0.1:8000/announcements/review_tags/">
        <input type="submit" value="Approve Tags"/>
      </form>
