<h1>{{ announcement.announce_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
  <p>Submitted on: </p>
<li>{{ announcement.submit_date }}</li><br>
  <p>Approval status:</p>
  {% if announcement.approve_status%}
    <p>Approved</p>
  {% else %}
      <p>Not approved</p>
    {% endif %}




    <form method="post"/>
      <input type="submit" value="Approve" name = "approve"/>
      <input type="submit" value="Deny" name="deny"/>
      <input type="submit" value="Delete" name="delete"/>
      <input type="submit" value="Save" name="save"/>
      <input type="submit" value="Unsave" name="unsave"/><br>
      {{ worked }}
      {{saved_announcement}}
      {% csrf_token %}
    </form>

    <h3> Tags: </h3> <br>
      {% if announce_tags %}
        {% if num_tags > 0 %}
          {% for tag in announce_tags %}
            - {{ tag }} {{ tag.is_approved }} <br>
          {% endfor %}
        {% else %}
          <p> No tags on this post </p> <br>
        {% endif %}
      {% endif %}

      <form action = "http://127.0.0.1:8000/announcements/review_tags/">
        <input type="submit" value="Approve Tags"/>
      </form>
