{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Submit Chirps</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="{% static 'announcements/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- angularJS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <link href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <script src="{% static 'announcements/js/app.js' %}"></script>


    <!-- Custom styles for this template -->
    <link href="{% static 'announcements/css/submit.css' %}" rel="stylesheet">
    <link href="{% static 'announcements/css/styles.css' %}" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-chirp">
      <div class="container">
        <a class="navbar-brand navbar-text" href="index.html">Chirps!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Settings
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Log Out</a>
            </li>
          </ul>
        </div>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

      <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}">
                  <span data-feather="home"></span>
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="mychirps"></span>
                  My Chirps
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'saved' %}">
                  <span data-feather="savedchirps"></span>
                  Saved Chirps
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="favtags"></span>
                  Favorite Tags
                </a>
              </li>
          </div>
        </nav>

        <!--submission column-->
        <!-- <div class="col-md-6 main-wrapper"> -->

            <div class="col-md-7 main-wrapper">

              <form action="{% url 'submit' %}" method="post" class = "form-group">
                {% csrf_token %}

              <h1 class="my-4 font-default title-margin">Submit a Chirp</h1>
              <div class="form-group text-center">
                <div class="col form-padding">
                  <input type="text" class="form-control"  id="announce_title" name="announce_title" placeholder="Title">
                </div>
                <div class="col">
                    <textarea class="form-control" name="announce_text" id="exampleFormControlTextarea1" rows="6" placeholder="Text..."></textarea>
                </div>
              </div>

              <div class="title-margin">
               <!-- Announcement: <input type="text" name="announce_text"/><br> -->
                ID: <input type="number" name="announce_ID"/><br>
                Desired Expiration Date: <input type="date" name="expire_date"/><br>
                Tags (separated by commas): <input type="text" name="tag_text"/><br>


                <div class="form-group"> <!-- Date input -->
                    <label class="control-label" for="date">Expiration Date</label>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>

                <script>
                  $(document).ready(function(){
                    var date_input=$('input[name="date"]'); //our date input has the name "date"
                    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                    var options={
                      format: 'mm/dd/yyyy',
                      container: container,
                      todayHighlight: true,
                      autoclose: true,
                    };
                    date_input.datepicker(options);
                  })
                </script>
                </div>

              </div>

                <!-- Adding Tags -->
                 <div class="container" ng-app="myApp" ng-controller="tagsCtrl">
                   <hr>
                    <h6>Tags</h6>
                    <tag-manager tags="tags" autocomplete="allTags"></tag-manager>
                  </div>

                  <input type="submit" value="Submit" class="btn btn-primary float-right"/>
                </form>
              </div>

              <!-- Sidebar Widgets Column -->
              <!-- <div class="col-md-4">
                <input type="submit" value="Submit" class="btn btn-primary btn-sm btn-block"/>
              </div> -->

      </div>
      <!-- /.row -->

    </div>
  </div>
</div>


<!--     Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

   </body>

</html>
