{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chirps!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'announcements/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'announcements/css/signin.css' %}" rel="stylesheet">
    <link href="{% static 'announcements/css/styles.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-chirp">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand navbar-text" href="{% url 'login' %}">Chirps!</a>
        </div>
      </div>
    </nav>

    <div class="text-center form-signin">

      <img class="mb-4" src="https://seeklogo.com/images/P/pomona-college-logo-F6F21BDA4F-seeklogo.com.png" alt="" width="200" height="80">
      {% block content %}

          {% if validlink %}
              <p>Please enter (and confirm) your new password.</p>
              <form action="" method="post">
                  <div style="display:none">
                      <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                  </div>
                  <table>
                      <tr>
                          <td>{{ form.new_password1.errors }}
                              <label for="id_new_password1">New password:</label></td>
                          <td>{{ form.new_password1 }}</td>
                      </tr>
                      <tr>
                          <td>{{ form.new_password2.errors }}
                              <label for="id_new_password2">Confirm password:</label></td>
                          <td>{{ form.new_password2 }}</td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><input type="submit" value="Change my password" class="btn btn-primary btn-block"/></td>
                      </tr>
                  </table>
              </form>
          {% else %}
              <h1>Password reset failed</h1>
              <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
          {% endif %}

      {% endblock %}

      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </div>
  </body>
</html>
