{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chirps!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'announcements/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'announcements/css/signin.css' %}" rel="stylesheet">
    <link href="{% static 'announcements/css/styles.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top navbar-chirp">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand navbar-text" href="{% url 'login' %}">Chirps!</a>
        </div>
      </div>
    </nav>

    <div class="text-center form-signin">
      {% block content %}

      <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>

      <a href="{% url 'login'%}">Click here to return to login.</a>
      {% endblock %}

      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </div>
  </body>
</html>
