.main-wrapper {
  height: 100vh;
}
/**/
.navbar-chirp {
	background: linear-gradient(#064893, #3f7fc8);
	height: 75px;
	border-width: 0px;
}

.navbar-text {
	color: white !important;
	font-size: 45px;
	font-family: Palantino;
}

.font-default {
	font-family: Palantino;
}

body {
    padding-top: 80px;
}

.img-padding{
	padding-top:170px;
}

.full-height{
	height:100%;
}

.form-padding{
	padding-bottom:25px;
}
